<footer>
  <%= image_tag "footer-bg.png", class: "max-w-[40rem] sm:max-w-[50rem] md:max-w-[80rem] xl:max-w-full xl:w-full h-[10rem] md:h-auto bg-cover bg-center bg-no-repeat absolute opacity-60" %>
  <div class="max-w-[85rem] xl:max-w-full py-10 px-4 sm:px-6 lg:px-8 mx-auto relative z-30">
    <!-- Grid -->
    <div class="grid grid-cols-1 md:grid-cols-3 items-center gap-5 text-center pt-[3rem]">
      <div>
        <a href="/" class="hover:opacity-75">
          DataSage
        </a>
        <p class="text-sm xl:text-xl xl:mt-4 font-light text-gray-100 hover:text-[#8C52FF]"><%= footer_statement('Brand Rene') %></p>
      </div>
      <!-- End Col -->

      <ul class="text-center">
        <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:content-['/'] before:text-gray-400">
          <a class="inline-flex gap-x-2 text-sm xl:text-xl text-gray-100 hover:text-[#8C52FF]" href="/#services">
            Our Services
          </a>
        </li>
        <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:content-['/'] before:text-gray-400">
          <a class="inline-flex gap-x-2 text-sm xl:text-xl text-gray-100 hover:text-[#8C52FF]" href="/#abouts">
            About Us
          </a>
        </li>
        <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:content-['/'] before:text-gray-400">
          <a class="inline-flex gap-x-2 text-sm xl:text-xl text-gray-100 hover:text-[#8C52FF]" href="/#">
            Resource Page
          </a>
        </li>
      </ul>
      <!-- End Col -->

      <!-- Social Brands -->
      <div class="md:text-right space-x-2 xl:space-x-4">
        <a class="inline-flex justify-center items-center w-9 h-9 xl:w-12 xl:h-12 text-center text-[#8C52FF] bg-gray-100 rounded-full focus:outline-none focus:ring-2 focus:ring-[#8C52FF] focus:ring-offset-2 focus:ring-offset-white transition hover:bg-[#8C52FF] hover:text-white" href="#">
          <i class="fa-brands fa-facebook text-xl xl:text-3xl"></i>
        </a>
        <a class="inline-flex justify-center items-center w-9 h-9 xl:w-12 xl:h-12 text-center text-[#8C52FF] bg-gray-100 rounded-full focus:outline-none focus:ring-2 focus:ring-[#8C52FF] focus:ring-offset-2 focus:ring-offset-white transition hover:bg-[#8C52FF] hover:text-white" href="#">
          <i class="fa-brands fa-twitter text-xl xl:text-3xl"></i>
        </a>
        <a class="inline-flex justify-center items-center w-9 h-9 xl:w-12 xl:h-12 text-center text-[#8C52FF] bg-gray-100 rounded-full focus:outline-none focus:ring-2 focus:ring-[#8C52FF] focus:ring-offset-2 focus:ring-offset-white transition hover:bg-[#8C52FF] hover:text-white" href="#">
          <i class="fa-brands fa-instagram text-xl xl:text-3xl"></i>
        </a>
        <a class="inline-flex justify-center items-center w-9 h-9 xl:w-12 xl:h-12 text-center text-[#8C52FF] bg-gray-100 rounded-full focus:outline-none focus:ring-2 focus:ring-[#8C52FF] focus:ring-offset-2 focus:ring-offset-white transition hover:bg-[#8C52FF] hover:text-white" href="#">
          <i class="fa-brands fa-linkedin text-xl xl:text-3xl"></i>
        </a>
      </div>
      <!-- End Social Brands -->
    </div>
    <!-- End Grid -->
  </div>
</footer>
